body {
  font-family: "Rubik Moonrocks", cursive;
  background-image: url("sky.png");
  background-repeat: inherit;
  background-size: 100%;
}

.current-city,
.new {
  color: #0b5ed7;
}
h1 {
  text-align: center;
}

.different {
  font-family: "Fascinate", cursive;
  font-weight: 400;
}

.sky,
.day {
  font-size: 30px;
}

.trim {
  position: relative;
  bottom: -9px;
}

.sun {
  position: relative;
  top: -11px;
}

form {
  text-align: right;
}

#cel,
#fahr {
  color: black;
}

#git {
  display: block;
  margin: 0;
  text-align: center;
}

.weather-forecast {
  text-align: center;
}

.location {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 40px;
  border-radius: 30px;
  border: 1px solid #170b0f;
  box-shadow: 10px 8px 8px 0px #170b0f;
  font-size: 15px;
  cursor: pointer;
}
